
body {
    background: #785727;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 7YZYPbLpwkjbLPJ4jEMTIW7JcV6dAg68BpCKe7PNBktErRrwV3OJ7GnuGnf2TIbWMZ7XSVZDHp5qTu34ZHhnP9WP1KqZw0HvZ6ILfwKdnCjg0EWOttU5KYZ1JUfDnPdbmUWcVG0ETd1HP1DpwOXBX7QjyMEcfRZOiBOe9mpMlxWadIo37QE7o33y8cjiJPbQmAV7xoX2 */
